<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/Crountch-One-Piece-Jolly-Roger-Luffys-flag.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Anime Review</title>
</head>
<body>
    <header>
        <h1>Anime's Reviews</h1>
    </header>
    <main>
        <div class="login-card">
            <div class="login-section">
            <h2>Login</h2>
            <form method="POST">
                <p>Email</p>
                <input type="email" name="email" id="email" placeholder="Digite seu e-mail..." required>
                <p>Senha</p>
                <input type="password" name="senha" id="senha" maxlength="16" minlength="6" placeholder="Digite sua senha..." required>
                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
    </main>
</body>
</html>
